.root {
	-fx-background-image: url("wooden-background.png");
    -fx-font-size: 13pt;
    -fx-font-color: White;
    -fx-font-border: Black;
    -fx-font-family: "Calibri";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}

.banner {
    -fx-font-border: Black;
    -fx-fill: White;	
    -fx-stroke: Black;
	-fx-stroke-width: .3;
}

.gridPane {
	-fx-background-color: transparent;
}

/* 
.button:focused {
    -fx-border-color: transparent, white;
    -fx-border-width: 2, 2;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: .5 1 .5 1, 0;
}
*/
.circleButton {
	-fx-background-color: yellow;
	-fx-background-radius: 5em;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 60px;
    -fx-max-height: 60px;	
}

.circleButtonRedClick {
	-fx-background-color: Red;
}

.circleButtonBlackClick {
	-fx-background-color: Black;
}