.root {
	-fx-background-image: url("wooden-background.png");
    -fx-font-size: 13pt;
    -fx-font-color: White;
    -fx-font-border: Black;
    -fx-font-family: "Calibri";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}

.banner {
    -fx-font-border: Black;
    -fx-fill: White;	
    -fx-stroke: Black;
	-fx-stroke-width: .3;
}

.gridPane {
	-fx-background-color: transparent;
}

.homeButton {
	-fx-background-image: url("Home_Icon.PNG");
	-fx-background-size: 40px 40px;
	-fx-min-height: 30px;
    -fx-min-width: 40px;
}

.circleButton {
	-fx-background-color: yellow;
	-fx-background-radius: 5em;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 60px;
    -fx-max-height: 60px;	
}

.circleButtonRedClick {
	-fx-background-color: Red;
}

.circleButtonBlackClick {
	-fx-background-color: Black;
}